
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    background: #bdbcbc;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer ;
    float: left;
}

.row {
    display: block;
    float: left;
    width: 100%;
}

.button {
    padding: 10px;
    margin: 10px;
}