.bod {
    background-color: rgb(118, 134, 123);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin: 40px;
    margin-top: 110px;
    display: inline-flex;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.61);
    background-color: rgb(190, 190, 189);
    border: 2px solid rgba(0, 0, 0, 0.61);
    box-shadow: 3px 3px #d4abab;
    border-radius: 100px; 
    padding: 20px;   
    color: rgb(50, 87, 92);
}

#gridContainer {
    background-color: paleturquoise;
    width: 600px;
    height: 600px;
    border: 2px solid rgba(0, 0, 0, 0.61);
    border-radius: 5px;
    box-shadow: 5px 7px #d4abab;
    margin: 20px;
}

.column {
        background: #bdbcbc;
        width: 15px;
        height: 15px;
        margin: 0 auto;
        margin-top: 0;
        cursor: pointer ;
        float: left;
}

.buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 190, 189);
    border: 2px solid rgba(0, 0, 0, 0.61);
    box-shadow: 3px 3px #d4abab;
    border-radius: 100px;
    margin-top: 40px;
}

.btn {
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    box-shadow: 2px 5px;
    border-radius: 10px;
    cursor: pointer;
}

#rainbow,
#erase {
    padding-left: 20px;
    padding-right: 20px;
}